body {
  background-color: #1f2937;
}

* {
  box-sizing: border-box;
}

.toolContainer {
  display: none;
  background-color: #f9faf8;
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: sans-serif;
}

.toolContainer.active {
  display: block;
}

.tool {
  width: fit-content;
  margin: 50px auto;
}

/* ********* btn ********************* */

.selectBtnContainer {
  display: flex;
  font-family: sans-serif;
}

.selectBtn {
  background-color: #e3ebf7;
  border: 1px solid rgb(3, 7, 34);
  border-top: 0;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}

.btn {
  cursor: pointer;
}

.btn:active {
  scale: 0.98;
}

.selectBtn.active {
  background-color: #f9faf8;
  border: 0;
}

/* **************************** Tool Container ************** */

.formContainer {
  max-width: 400px;
  margin: 0 auto;
}

.inputBox {
  display: flex;
  justify-content: space-between;
}

.inputBox > * {
  width: 48%;
}

label {
  padding: 8px 8px 4px 0;
  display: block;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  font-size: 16px;
}

.submitBtn {
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 16px;
  border: 2px solid #1f2937;
  background-color: #ffffff;
}

.submitBtn:hover {
  background-color: #1f2937;
  color: #f9faf8;
}

/* ****************** table ********************** */

.tableContainer {
  background-color: #1f2937;
  color: #fff;
  margin: 20px 0 10px 0;
  border-radius: 10px;
  padding: 10px;
  /* overflow-x: scroll; */
  width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 2px solid #fff;
  text-align: left;
  padding: 8px;
  text-align: center;
  font-size: 16px !important;
}

/* #sellFinalTable {
  display: none;
} */
