/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
}

.sidePadding {
  padding-left: 80px;
  padding-right: 80px;
}

.subtext {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #434343;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  margin: 0;
}

/* **************************Header*************** */

.header {
  background-color: #1f2937;
  padding-top: 10px;
}

.topnav {
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.topnav .navLogo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
  font-family: sans-serif;
  padding: 10px 0px;
}

.menuContainer {
  float: right;
}

.topnav .navLink {
  font-size: 18px;
  color: #e5f7eb;
  opacity: 0.8;
  font-weight: 400;
  font-family: sans-serif;
  padding: 14px 0 14px 30px;
}

.topnav a:hover {
  color: #ffffff;
  opacity: 1;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
  padding: 14px 0;
  color: #e5f7eb;
}

/*   *************************home**************   */

.home {
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #1f2937;
}

.homeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0px auto;
}

.homeTextContainer {
  width: 48%;
}

.homeHeading {
  font-size: 48px;
  font-family: sans-serif;
  color: #f9faf8;
  font-weight: extra-bold;
  margin: 0;
  line-height: 1;
}

.homeText {
  font-size: 18px;
  font-family: sans-serif;
  opacity: 0.9;
  color: #e5e7eb;
  margin: 8px 0;
  max-width: 450px;
}

.homeBtn {
  display: inline-block;
  background-color: #3882f6;
  padding: 8px 30px;
  border-radius: 18px;
  color: #fff;
  border: none;
  margin: 10px 0 0 0;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.homeBtn:active {
  opacity: 0.9;
  scale: 0.98;
}

/* ************************ home Image ****************** */

.homeImgContainer {
  width: 48%;
}

.homeImgContainer > img {
  width: 100%;
}

/* ****************************about Second****************** */

.about {
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: #e5e7eb;
}

.about > h3 {
  font-size: 32px;
  color: rgb(3, 7, 34);
  text-align: center;
  margin: 40px;
}

.aboutContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.aboutText {
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  color: #1f2937;
  opacity: 0.8;
  line-height: 1.3;
}

.aboutSubContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.aboutSubContainer > * {
  width: 48%;
}

.aboutImgBox {
  height: 320px;
  display: flex;
  justify-content: center;
}

.aboutImgBox > img {
  height: 100%;
  margin: 0 auto;
}

/* *********************** contact ************* */

/* ***********************contact****************** */

.contactContainer {
  max-width: 1100px;
  margin: 0 auto;
}

.contact {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1f2937;
}

.contactTop {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contactLinkContainer {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
}

.contactLinkContainer > * {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.contactTopRight {
  min-width: 380px;
}

.contactBtn {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-weight: 700;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}

.contactSubHeading {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.contactInputContainer {
  display: flex;
  text-align: center;
  padding: 3px;
  background-color: #fff;
  border-radius: 30px;
  width: 100%;
}

.contactInput {
  display: inline-block;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  border-radius: 30px;
  color: #787579;
  border: 0;
  outline: none;
}

.contactInput:focus {
  border: 0;
}

.contactContact {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.contactContact .contactIconsContainer {
  padding-bottom: 12px;
  margin-top: 20px;
}

.contactContact .contactIconsContainer .iconBtn {
  border-radius: 100%;
  border: 0;
  padding: 3px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}

.contactContact .contactIconsContainer .iconBtn:nth-child(2) {
  background-color: #f39b4e;
}

.contactContact .contactIconsContainer .iconBtn:active {
  background-color: #353535;
}

.contactContact .contactIconsContainer .iconBtn:nth-child(2):active {
  background-color: #fa8620;
}

.footer {
  background-color: #1f2937;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.footerContainer > * {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-decoration: none;
}

/* ******************************* tool *************************** */
/* ******************************* tool *************************** */
/* ******************************* tool *************************** */

.tool {
  background-color: #f9faf8;
  width: fit-content;
  margin: 50px auto;
  border: 2px solid #1f2937;
  border-radius: 10px;
}
.toolContainer {
  display: none;
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: sans-serif;
}

.toolContainer.active {
  display: block;
}

/* ********* btn ********************* */

.selectBtnContainer {
  display: flex;
  font-family: sans-serif;
  margin-right: 20px;
}

.selectBtn {
  background-color: #e3ebf7;
  border: 0;
  border-right: 2px solid rgb(3, 7, 34);
  border-bottom: 2px solid rgb(3, 7, 34);

  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}

.btn {
  cursor: pointer;
}

.btn:active {
  scale: 0.98;
}

.selectBtn.active {
  background: transparent;
  border-bottom: 0;
}

/* **************************** Tool Container ************** */

.formContainer {
  max-width: 400px;
  margin: 0 auto;
}

.inputBox {
  display: flex;
  justify-content: space-between;
}

.inputBox > * {
  width: 48%;
}

label {
  padding: 8px 8px 4px 0;
  display: block;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  font-size: 16px;
}

.submitBtn {
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 16px;
  border: 2px solid #1f2937;
  background-color: #ffffff;
}

.submitBtn:hover {
  background-color: #1f2937;
  color: #f9faf8;
}

.profitInputContainer > div {
  display: flex;
}

.profitInputContainer > div > select {
  width: 50px;
  padding: 3px;
  border: 1px solid #c3c3c3;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 16px;
}

.profitInputContainer > div > input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0;
}

/* ****************** table ********************** */

.tableContainer {
  background-color: #1f2937;
  color: #fff;
  margin: 20px 0 10px 0;
  border-radius: 10px;
  padding: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.tableContainer > P {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

#sellPriceEachFinaltableContainer {
  display: none;
}

.tableBox {
  overflow-y: auto;
  max-height: 300px;
}

.tableBox thead th {
  position: sticky;
  top: -1px;
  background-color: #000000;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 2px solid #fff;
  text-align: left;
  padding: 8px;
  text-align: center;
  font-size: 16px !important;
}

.editBtnBox {
  padding: 4px;
  width: 80px;
}

.editBtnBox > * {
  border-radius: 100%;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.editBtnBox > *:active {
  scale: 1.01;
}

.tableBox::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.tableBox::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.tableBox::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.tableBox::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ************************* */

#sellPriceProductFinaltableContainer {
  display: none;
}

#sellPriceIndividualFinaltableContainer {
  display: none;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
  .homeHeading {
    font-size: 40px;
  }

  .homeText {
    font-size: 16px;
  }

  .middleTextContainer {
    margin-bottom: 12px;
  }

  .contactTop {
    flex-wrap: wrap;
  }

  .contactLinkContainer {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    padding: 50px 30px 80px;
  }

  .sidePadding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .homeTextContainer {
    width: 100%;
  }

  .homeHeading {
    font-size: 48px;
  }

  .homeText {
    font-size: 18px;
  }

  .homeImgContainer {
    width: 100%;
    margin-top: 50px;
  }

  .aboutText {
    font-size: 28px;
  }

  .middleSecondSign {
    font-size: 24px;
  }

  .aboutSubContainer > .aboutImgBox {
    width: 40%;
  }

  .aboutSubContainer > .aboutText {
    width: 58%;
  }

  .tableBox {
    width: 80vw;
    overflow-x: auto !important;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    padding: 50px 20px;
  }

  .sidePadding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .topnav .navLink {
    display: none;
  }

  .menuContainer {
    float: left;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .contactTopRight {
    min-width: 280px;
    max-width: 380px;
    width: 100%;
  }

  .aboutSubContainer > * {
    width: 100% !important;
  }

  .aboutImgBox {
    height: 250px;
  }

  .selectBtnContainer {
    margin-right: 0px;
  }

  .selectBtnContainer > *:nth-child(3) {
    border-right: 0;
    border-top-right-radius: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .homeHeading {
    font-size: 36px;
  }

  .homeText {
    font-size: 14px;
  }

  .middleFirstSubContainer {
    width: 48%;
  }

  .aboutText {
    font-size: 24px;
  }

  .middleSecondSign {
    font-size: 20px;
  }

  .selectBtnContainer > * {
    padding: 8px 10px;
    font-size: 14px;
  }

  .toolContainer {
    padding: 20px 12px;
  }
}
